body {
    font-family: 'Rubik Mono One', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.math {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
}

.score, .best {
    text-align: center;
    background: lightgray;
    color: white;
    padding: 8px 22px;
    border-radius: 8%;
}

.score h2, .best h2 {
    margin: 4px 0 4px 0;
    color: #828080;
}

.score span, .best span {
    font-size: 20px;
    font-weight: 600;
}

.best {
    margin-left: 12%;
}

h1 {
    font-size: 5rem;
}

.parentBlock {
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
}

.cell {
    display: table-cell;
    width: 120px;
    height: 120px;
    border: 8px solid #8c8888;
    background-color: #dcd8d8;
    text-align: center;
    color: #4c4c4c;
    font-size: 4em;
    font-weight: 600;
}

.foo {
    display: flex;
    flex-direction: column;
}

#newGame {
    width: 200px;
    margin: 30px auto 0 auto;
    text-align: center;
    background: lightgray;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    user-select: none;
}
