@import "summary.css";
@import "matrix.css";

body {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

#newGameBtn {
    width: 200px;
    height: 70px;
    margin: 30px auto 0 auto;
    text-align: center;
    background: lightgray;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s ease;
}

#newGameBtn:hover {
    background-color: #ffc107;
    font-size: 17px;
}
